<!DOCTYPE html>
<html>
	<head>
		<title> Chat </title>
	</head>
	
	<body class="mbody">
		<div class="menu">
			<nav>
				<ul>
					<li> 
						<span><font color=#fff> biro </font></span> <span><font color=#FF0000>Jodoh</font></span>
					</li>
					<li>
						<font color=#fff> | </font>
					</li>
					<li> 
						<a href="/profile"> <font color="white"> MyProfile </font>  </a>
					</li>
					<li>
						<a href="wall"> <font color="white"> Wall </font>  </a>
					</li>
					<li>
						<a href="/friend"> <font color="white"> Friends </font> </a>
					</li>
					<li>
						<a href="/message"> <font color="white"> Message </font> </a>
					</li>
					<li>
						<a href="/chat"> <font color=#FFA347> Chat </font> </a>
					</li>
					<li>
						<a href="/log_out"> <font color="white"> Logout </font> </a>
					</li>
					<li id ="searchbox">
						<%= form_tag search_path do %>
							<%= text_field_tag :search, params[:search], placeholder: 'type username' %>
							<%= submit_tag "Search" %>
						<% end %>
					</li>
				</ul>
			</nav>
		</div>
		
		<!--page ini : <br>
		Dapat menampilkan list user yang pernah di chat user tersebut <br>
		Dapat menampilkan list user lain yang berlawanan jenis (ada menunya) <br>
		Dapat memilih user untuk diajak chatting <br>
		Dapat chatting dengan user tersebut <br>-->
		
		<div class="chatmenu">
			<ul>
				<li> <a href=""> <font color=#FFA347> <b> Suggestions </b> </font> </a> </li>
				<li> <a href=""> <b> Chat History </b> </a> </li>
			</ul>
		</div>
		<br>
		<div class="dialog">
			<% for people in @suggestion %>
				<div class="headermsg">
					<b> Username&nbsp: </b> <%= people.username %>
				</div>
				
				<div class="headermsg">
					<b> Fullname&nbsp&nbsp: </b> <%= people.fullname %>
				</div>
				
				<div class="headermsg">
					<b> Gender&nbsp&nbsp&nbsp&nbsp&nbsp: </b> <%= people.gender %>
				</div>
				
				<br>
			<% end %>
		</div>
	</body>
	
</html>