<!DOCTYPE html>
<html>
	<head>
		<title> Message </title>
	</head>
	
	<body class="mbody">
		<div class="menu">
			<nav>
				<ul>
					<li> 
						<span><font color=#fff> biro </font></span> <span><font color=#FF0000>Jodoh</font></span>
					</li>
					<li>
						<font color=#fff> | </font>
					</li>
					<li> 
						<a href="/profile"> <font color="white"> MyProfile </font>  </a>
					</li>
					<li>
						<a href="wall"> <font color="white"> Wall </font>  </a>
					</li>
					<li>
						<a href="/friend"> <font color="white"> Friends </font> </a>
					</li>
					<li>
						<a href="/message"> <font color=#FFA347> Message </font> </a>
					</li>
					<li>
						<a href="/chat"> <font color="white"> Chat </font> </a>
					</li>
					<li>
						<a href="/log_out"> <font color="white"> Logout </font> </a>
					</li>
					<li id ="searchbox">
						<%= form_tag search_path do %>
							<%= text_field_tag :search, params[:search], placeholder: 'type username' %>
							<%= submit_tag "Search" %>
						<% end %>
					</li>
				</ul>
			</nav>
		</div>
		
		<div class="composeMessage">
			<%= form_tag createPesan_path do %>
				<b> Receiver Username : </b> <br>
				<%= text_field_tag :receiver, params[:receiver] %>
				<br> <br>
				<b> Message Text : </b> <br>
				<%= text_area_tag :text, params[:text] %>
				<br>
				<p class="button"><%= submit_tag "Send" %></p>
			<% end %>
		</div>
	</body>
	
</html>