<!DOCTYPE html>
<html>
	<head>
		<title> Friends </title>
	</head>
	
	<body class="mbody">
		<div class="menu">
			<nav>
				<ul>
					<li> 
						<span><font color=#fff> biro </font></span> <span><font color=#FF0000>Jodoh</font></span>
					</li>
					<li>
						<font color=#fff> | </font>
					</li>
					<li> 
						<a href="/profile"> <font color="white"> MyProfile </font>  </a>
					</li>
					<li>
						<a href="wall"> <font color="white"> Wall </font>  </a>
					</li>
					<li>
						<a href="/friend"> <font color=#FFA347> Friends </font> </a>
					</li>
					<li>
						<a href="/message"> <font color="white"> Message </font> </a>
					</li>
					<li>
						<a href="/chat"> <font color="white"> Chat </font> </a>
					</li>
					<li>
						<a href="/log_out"> <font color="white"> Logout </font> </a>
					</li>
					<li id ="searchbox">
						<%= form_tag search_path do %>
							<%= text_field_tag :search, params[:search], placeholder: 'type username' %>
							<%= submit_tag "Search" %>
						<% end %>
					</li>
				</ul>
			</nav>
		</div>
		
		<!--page ini berisi : Daftar teman-teman user <br> Dapat mengirimkan pesan privat kepada temannya <br> Dapat membuka identitas kepada temannya <br>
		Dapat menyusun rencana pertemuan dengan temannya <br> -->
		
		<div class="dialog">
			<% if @following.blank? %>
				<b> You have no friend </b>
			<% else %>
				<b> Your Friends </b> <br> <br>
				<% for people in @following %>
					<div class="headermsg">
						<% @info = User.find_by_username(people.following) %>
						<% if @info %>
							<b> Username&nbsp&nbsp: </b> <%= @info.username %> <br>
							<b> Fullname&nbsp&nbsp&nbsp: </b> <%= @info.fullname %> <br>
							<b> City&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp: </b> <%= @info.city %> <br>
						<% end %>
					</div>
					
					<div class="headermsg2">
						<%= form_tag deleteFriend_path do %>
							<%= text_field_tag :delete, params[:delete], placeholder: 'delete', value:people.following %>
							<%= submit_tag "Unfriend" %>
						<% end %>
					</div>
					<br>
				<% end %>
			<% end %>
		</div>
	</body>
	
</html>