<!DOCTYPE html>
<html>
	<head>
		<title> Edit Profile </title>
	</head>
	
	<body>
		<div class="menu">
			<nav>
				<ul>
					<li> 
						<span><font color=#fff> biro </font></span> <span><font color=#FF0000>Jodoh</font></span>
					</li>
					<li>
						<font color=#fff> | </font>
					</li>
					<li> 
						<a href="/profile"> <font color=#FFA347> MyProfile </font>  </a>
					</li>
					<li>
						<a href="wall"> <font color="white"> Wall </font>  </a>
					</li>
					<li>
						<a href="/friend"> <font color="white"> Friends </font> </a>
					</li>
					<li>
						<a href="/message"> <font color="white"> Message </font> </a>
					</li>
					<li>
						<a href="/chat"> <font color="white"> Chat </font> </a>
					</li>
					<li>
						<a href="/log_out"> <font color="white"> Logout </font> </a>
					</li>
					<li id ="searchbox">
						<form>
							<input type="text" placeholder="type username" name="searchUsername">
							<a href="/search"> <input type="button" value="Search"> </a>
						</form>
					</li>
				</ul>
			</nav>
		
		<div class = "edit">
			<%= form_tag do %>
				<%= text_field_tag :fullname, params[:fullname], placeholder: 'fullname', value:current_user.fullname  %>
				<%= text_field_tag :birthplace, params[:birthplace], placeholder: 'place of birth',value:current_user.birthplace %>
				<%= text_field_tag :birthdate, params[:birthdate], placeholder: 'date of birth dd-mm-yyyy',value:current_user.birthdate %>
				<%= text_field_tag :city, params[:city], placeholder: 'city',value:current_user.city %>
				<%= text_field_tag :hobby, params[:hobby], placeholder: 'hobby',value:current_user.city %>
				<a href="/userEdit"> <%= submit_tag "save" %> </a>
			<% end %>
		</div>
	</body>
	
</html>