<!DOCTYPE html>
<html>
	<head>
	  <meta charset="UTF-8">
	  <title> Index </title>
	</head>

	<body>
	  <div class="body"> </div>
			<div class="grad"></div>
			<div class="header">
				<div>biro<span>Jodoh</span><br><div>Registration</div></div>
			</div>
			
			<br>
			<div class="registration">
				<%= form_tag do %>
					<%= text_field_tag(:username,nil,placeholder:"username") %>
					<%= text_field_tag(:password,nil,placeholder:"password") %>
					<%= text_field_tag(:fullname,nil,placeholder:"full name") %>
					<%= text_field_tag(:birthplace,nil,placeholder:"place of birth") %>
					<%= text_field_tag(:birthdate,nil,placeholder:"date of birth dd-mm-yyyy") %>
					<%= text_field_tag(:city,nil,placeholder:"city") %>
					<%= text_field_tag(:hobby,nil,placeholder:"hobby") %>
					<%= text_field_tag(:gender,nil,placeholder:"gender (M/F)") %>
					<input type="button" value="Sign Up">
				<% end %>
			</div>
			
			<div class="footerRegister">
				<a href="/welcome/index"> Cancel </a>
			</div>
	</body>

</html>